<app-toolbar>
  <app-toolbar-button text="Refresh" icon="refresh" (click)="queryImages()"></app-toolbar-button>
</app-toolbar>
<br><br><br>

<div class="container">

<h1 class="text-center">File Sharing Center</h1>

  <div class="row">
      <div class="card">
        <div class="card-body text-center">
          
          <h5 class="card-title">Upload File</h5>

           <label class="btn btn-default p-0">
             <input type="file" accept="image/*" multiple (change)="selectFiles($event)" />
           </label>

            <div>
             <img *ngFor='let preview of previews' [src]="preview" class="preview">
           </div>

           <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
             <ul *ngFor="let msg of message; let i = index">
               <li>{{ msg }}</li>
             </ul>
           </div>

           <button
              class="btn btn-success btn-sm"
              [disabled]="!selectedFiles"
              (click)="uploadFiles()">
              Upload
           </button>
          
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<div class="container">
 <div class="row table-responsive border border-dark">
    
      <h5 class="card-title text-center">Local Files</h5>
     <!-- This is upload html new table for local files -->
  <table class="table">
    <thead>
        <tr>
          <th scope="col">Image ID</th>
          <th scope="col">File</th>
          <th scope="col">Doctor</th>
          <th scope="col">Patient</th>
          <th scope="col">Preview</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
    </thead>
    <tbody *ngFor="let image of imageInfos | async; let i=index">
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{ image.name }}</td>
        <td>{{doctorId}}</td>
        <td>PID01</td>
        <td>
          <div>
                <img  src="{{image.url}}"
                alt="{{image.name}}" display="block" width="50px" />
          </div>
        </td>
        <td><article>
         <label for="hospital">Transfer To: </label>
           <select (change)="getOwnerHosp($event)">
             <option value="none" selected disabled hidden>Select an Option</option>
             <option value="hosp1">Hospital 1</option>
             <option value="hosp2">Hospital 2</option>
             <option value="hosp3">Hospital 3</option>
           </select>
         </article></td>
         <td><label for="transfer" class="btn btn-outline-primary"> Send
          <input type="radio" accept="image/*" value="{{image.url}}" (change)="getLocalFiles($event)" id="transfer" style="display:none"/>
        </label></td>
      </tr>
    </tbody>
  </table>
  
</div>
<br>
<br>
<br>
<div class="row table-responsive border border-dark">

    <!-- table for other orgs files once transfer works -->
<h5 class="card-title text-center">Files from Other Organizations</h5>
<table class="table">
  <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">File</th>
        <th scope="col">Organization</th>
        <th scope="col">Doctor</th>
        <th scope="col">Patient</th>
        <th scope="col">Preview</th>
        <th scope="col"></th>
      </tr>
  </thead>
  <tbody *ngFor="let image of imageRecordDisplay; let i=index">
    <tr>
      <th scope="row">4/6/2022 20:32</th>
      <td>{{ image.imageName }}</td> 
      <td>{{ image.transferredBy }}</td>
      <td>DOC2</td>
      <td>PID02</td>
      <td>
      <div>
            <img src="{{ image.file }}" alt="{{image.imageName}}" display="block" width="50px" />
      </div>
    </td>
      <td><button class="btn btn-lg btn-outline-primary" (click)="open(content, image)">View</button></td>
    </tr>
  </tbody>
</table>
      
  </div>
 
</div>

<!-- POP-Up once transfer works-->

<ng-template #content let-modal>
  <div *ngIf="imageRecordDisplayTemp.length" >
  <div class="modal-header" *ngFor="let image of imageRecordDisplayTemp" >
      <h4 class="modal-title" 
          id="modal-basic-title">
          {{image.imageName}}
          
      </h4>
      <button type="button" class="close"
              aria-label="Close" (click)="modal.dismiss('Cross click')">

          <span aria-hidden="true">
              ×
          </span>
      </button>
    </div>
  </div>
  <div *ngIf="imageRecordDisplayTemp.length" >
  <div class="modal-body" *ngFor="let image of imageRecordDisplayTemp">
    <div class="row">

          <div class="card-title">{{image.imageName}}</div>
          <div>
                <img src="{{image.file}}" alt="{{image.imageName}}" display="block"/>
          </div>

      </div>
      <br>
      <br>

      <div class="row table-responsive">
      
        <h5 class="modal-title">File Transaction History</h5>
          <table class="table">
            <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Organization</th>
                  <th scope="col">Doctor</th>
                  <th scope="col">Patient</th>
                  <th scope="col">Some hash value</th>
                </tr>
            </thead>
            <!-- this next line will contain *ngFor="let history of fileHistory" -->
            <tbody>
              <tr>
                <th scope="row">4/6/2022</th> <!-- sub for {{history.timestamp}} -->
                <td>HOSP1</td> <!-- sub for {{history.ownerHosp}} -->
                <td>DOC2</td> <!-- sub for {{history.ownerDoctor}} -->
                <td>PID02</td> 
                <td>83CC4ADF72AF9C648DBCAFC3E6A49A081</td> <!-- sub for {{history.hash}} -->
              </tr>
            </tbody>
          </table>

      
    </div>
  </div> 
  </div>
  <div class="modal-footer">

</div>
</ng-template>