<app-toolbar class="app-toolbar">
  <app-toolbar-link text="File Sharing Center" [routerLink]="['upload-images']">
  </app-toolbar-link>
  <app-toolbar-link text="View Patients" icon="users" [routerLink]="['patients']">
  </app-toolbar-link>
</app-toolbar>
<br><br><br>

<div class="container">
  <h1 class="text-center"> {{doctorId}}'s Dashboard </h1>
  <div class="row">

        <h5 class="text-center">Powered By</h5>

            <div class="col offset-md-1" height="75px" width="75px" >
              <img src='https://www.nicepng.com/png/full/76-763950_members-hyperledger-logo.png' alt='docimage' display="block">
            </div>

</div>
</div>
<br>
<br>
<br>
<div class="container">
<div class="row align-items-center">
  <div class="col mx-auto">
  <div class="card bg-dark text-white text-center justify-content-center">
      <div class="card-body">
        <h3 class="card-title">User Details</h3>
                <div *ngIf="doctorRecordObs | async as record"> 
                
                  
                    
                      <p ><strong>Doctor ID: {{doctorId}}</strong></p>
                    
                 
                      <p ><strong>Name: {{record.firstName}} {{record.lastName}}</strong></p>
                    
                      <p ><strong>Speciality: {{record.speciality}}</strong></p>
                    

                  
                </div>

              </div>
            </div>
        </div> 


<div class="col"  >
  
        
          <div *ngIf="isVCU==true" class="mx-auto">
            <img src='https://media.glassdoor.com/sqll/120857/vcu-medical-center-squarelogo.png' class="mx-auto d-block" width='250px'/> 
          </div>
          
          <div *ngIf="isVCU==false" class="mx-auto">
             <img src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Mayo_Clinic_logo.svg/1200px-Mayo_Clinic_logo.svg.png' class="mx-auto d-block" width='250px'/>
          </div>
          
  </div>

<div class="col">
  <div class="card bg-dark text-white text-center">
      <div class="card-body">
        <h3 class="card-title">Network Information</h3>
        <div> 
                
                  
                    
          <p ><strong>Number of Peer Organizations: 3</strong></p>
        
     
          <p ><strong>Current Organization: {{parsedhospID}}</strong></p>
        
          <p ><strong>Current User: {{doctorId}}</strong></p>
        

      
      </div>

              </div>
            </div>
        </div>
</div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
      <h1>Recent Transactions</h1>
           <table class="table table-striped">

             <thead class="thead-dark"> 
                 <tr>
    
                   <th scope="col">Time</th>
                   <th scope="col">Transaction ID</th>

                 </tr>
             </thead>
             <tbody *ngFor="let transaction of TransactionRecord.slice().reverse() | slice:0:10; let i=index"> 
               <tr>
                 <th scope="row">{{transaction.date}}</th>
                 
                 <td>{{transaction.transactionID}}</td>
               </tr>
               
             </tbody>
           </table>
          
    </div>
    
    

      
 
</div>