<app-toolbar >
  <app-toolbar-link text="File Sharing Center" [routerLink]="['upload-images']">
  </app-toolbar-link>
  <app-toolbar-link text="View Patients" icon="users" [routerLink]="['patients']">
  </app-toolbar-link>
</app-toolbar>
<br><br><br>

<div class="container">
  <h1 class="text-center"> {{doctorId}}'s Dashboard </h1>
  <div class="row">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Powered By</h5>

        <div >
          <div>
          <div class="row">
            

              <img src='https://www.nicepng.com/png/full/76-763950_members-hyperledger-logo.png' alt='docimage' display="block" height="250px">

        
        
        <div *ngIf="doctorRecordObs === undefined">
          <p>You are not authorized to view doctor details.</p>
        </div>

      </div>
    </div>
  </div>

      </div>
    </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">User Details</h5>
          <table *ngIf="doctorRecordObs | async as record">
            <span>
              <tr>
                <td class="labels"><strong>Doctor ID</strong></td>
                <td>{{doctorId}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>First Name</strong></td>
                <td>{{record.firstName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Last Name</strong></td>
                <td>{{record.lastName}}</td>
              </tr>
              <tr>
                <td class="labels"><strong>Speciality</strong></td>
                <td>{{record.speciality}}</td>
              </tr>

            </span>
          </table>
      
                
            </div>
      </div>
</div>

<div class="col">
  <div class="card">
      <div class="card-body">
        <h5 class="card-title">Network Information</h5>
                <!-- <table ngIf="doctorRecordObs | async as record"> -->
                <table>
                  <span>
                    <tr>
                      <td class="labels"><strong>Number of Organizations on this network: 3</strong></td>
                    </tr>
                    <tr>
                      <td class="labels"><strong>Current Organization: HOSP1</strong></td>
                    </tr>
                    <tr>
                      <td class="labels"><strong>Current User: {{doctorId}} </strong></td>
                    </tr>

                  </span>
                </table>

              </div>
            </div>
        </div>
</div>
<br>
<br>
<br>
  <div class="row">
  <div class="card">
      <div class="card-body">
  <div class="card-title">Transactions for HOSP1</div>
  
      <table class="table">
        <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Doctor</th>
              <th scope="col">Patient</th>
              <th scope="col">Some hash value</th>
            </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4/6/2022</th>
            <td>DOC2</td>
            <td>PID02</td>
            <td>83CC4ADF72AF9C648DBCAFC3E6A49A081</td>
          </tr>
          <tr>
            <th scope="row">4/5/2022</th>
            <td>DOC2</td>
            <td>PID01</td>
            <td>83CC4ADF72AF9C648DBCAFC3E6A49A081</td>
          </tr>
          <tr>
            <th scope="row">4/5/2022</th>
            <td>DOC2</td>
            <td>PID01</td>
            <td>83CC4ADF72AF9C648DBCAFC3E6A49A081</td>
          </tr>
        </tbody>
      </table>
      
      </div>
    </div>
  </div>
</div>